//项目中的主绿色
$main_grren: #4cc3ad;
// 项目中的字体颜色，后缀为不透明度
$font_100: rgba(26,27,57,1);
$font_90: rgba(26,27,57,0.9);
$font_80: rgba(26,27,57,0.8);
$font_70: rgba(26,27,57,0.7);
$font_60: rgba(26,27,57,0.6);
$font_50: rgba(26,27,57,0.5);
$font_40: rgba(26,27,57,0.4);
$font_30: rgba(26,27,57,0.3);
$font_20: rgba(26,27,57,0.2);
$font_10: rgba(26,27,57,0.1);


//loading
.window_bg{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}
.loading_bg{
  width: 20%;
  min-width: 100px;
  min-height: 100px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #000;
  opacity: 0.7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  z-index: 999999;
  text-align: center;
}
.loading_icon{
  width: 40px;
  height: 40px;
}
.loading_content{
  padding-top: 10px;
  color: #eeeeee;
  font-size: 12px;
}
//global_loading
.global_loading_bg{
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 100px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #000;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999999;
  text-align: center;
}
.load_panel .global_loading_bg{
  display: none !important;
}

// 时间选择插件样式修改
.van-picker /deep/ .van-picker-column__item{
  color: #e9e9ec;
}
.van-picker /deep/ .van-picker-column__item--selected{
  color: #1a1b39;
}

//  弹出层插件样式修改
.van-picker /deep/ .van-picker__toolbar{
  background-color: #eeeeee;
}
.van-picker /deep/ .van-picker__cancel{
  color: #999999;
}
.van-picker /deep/ .van-picker__confirm{
  color: $main_grren;
}
.van-picker /deep/ .van-picker__cancel, .van-picker__confirm{
  font-size: .45rem;
}

//  提示弹出框样式修改
.van-dialog /deep/ .van-dialog__footer--buttons{
  position: absolute;
  border-top: 1px solid #F0F0F0;
  bottom: 0;
  left: 0;
  right: 0;
}
.van-dialog /deep/ .van-button{
  border-left: 1px solid #F0F0F0;
}
.van-dialog /deep/ .van-dialog__cancel{
  color: #999999;
}
.van-dialog /deep/ .van-dialog__confirm{
  color: $main_grren;
}
.van-dialog /deep/ .van-dialog__header{
  font-size: .45rem;
}
.van-overflow-hidden /deep/ .van-modal{
  z-index: 99999!important;
}
.van-overflow-hidden /deep/ .van-dialog{
  z-index: 100000!important;
}
.van-overflow-hidden /deep/ .van-popup{
  z-index: 100000!important;
}
.van-overflow-hidden /deep/ .van-dialog{
  width: 7.80rem;
  height: 3.96rem;
  border-radius: 10px;
  color: $font_100;
}
.van-overflow-hidden /deep/ .van-dialog__header--isolated {
  padding: 1.1rem 0;
}
.van-overflow-hidden /deep/ .van-button{
  font-size: .42rem;
}
